@import "variables";

body.modal-open {
  overflow: hidden;
}

.gates-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.gates-gallery-title {
  color: black;
  font-size: 30px;
  width: 100%;
  max-width: 1500px;
  text-align: left;
  padding: 10px 0;
  margin-bottom: 15px;

  @media (max-width: 1554px) {
    max-width: 1200px;
  }
}

.gates-gallery-text {
  color: black;
  font-size: 20px;
  width: 100%;
  max-width: 1500px;
  text-align: left;
  padding: 10px 0;
  margin-bottom: 15px;

  @media (max-width: 1554px) {
    max-width: 1200px;
  }
}

.gates-gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  justify-content: center;
  align-items: start;

  @media (max-width: 1554px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 580px) {
    grid-template-columns: 1fr;
  }
}

.gallery-gates-photo {
  width: 100%; // Let Next.js handle image size
  max-width: 400px;
  border-radius: 5px;
  cursor: pointer;
  border: 1.75px solid #b88a56;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  object-fit: contain;
  border: 2px solid white;
  animation: zoomIn 0.4s ease;
  min-width: 500px;
  min-height: 500px;

  image-rendering: crisp-edges;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
