@import "variables";

.header {
  font-size: 1.4rem;
  font-family: var(--font-josefin-sans);
  height: 5rem;
  color: black;
  font-weight: 400;

  border-bottom: $color-grey-dark-1;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heeding {
  font-size: 2.5rem;
  margin-top: -4px;
}

.plot-title {
  background-image: linear-gradient(
    to right,
    $color-green-dark,
    $color-primary-green
  );
  background-clip: text;
  color: transparent;
}

.container-ploty {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logoo {
  height: 3.25rem;
  width: auto;
}

.user-nav {
  align-self: stretch;
  font-size: 1.8rem;
  margin-right: -80px;

  & > * {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__box {
    &--item {
      //inline block?
      margin-right: 20px;
      list-style-type: none;
      height: 100%;
      display: flex;
    }

    &--link {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: relative;
    }

    &--link::after {
      content: "";
      position: absolute;
      bottom: 8px; /* Position at the bottom of the link */
      left: 0;
      right: 0;
      height: 2px; /* Thickness of the underscore */
      background-color: transparent;
      transition: background-color 0.3s;
    }

    &--link:hover::after {
      background-color: $color-secondary; /* Color of the underscore on hover */
    }
  }
}

.inquiry-bold {
  font-weight: 700;
}

@media (max-width: 1200px) {
  .header {
    font-size: 1.3rem;
  }

  .logoo {
    height: 2.8rem;
  }

  .user-nav {
    font-size: 1.6rem;
    margin-right: -40px;
  }

  .user-nav__box--item {
    margin-right: 15px;
  }
}

@media (max-width: 900px) {
  .header {
    font-size: 1.2rem;
    height: 4.2rem;
  }

  .heeding {
    font-size: 2rem;
  }

  .logoo {
    height: 2rem;
  }

  .user-nav {
    font-size: 1.4rem;
    margin-right: -20px;
  }

  .user-nav__box--item {
    margin-right: 10px;
  }

  .user-nav > * {
    padding: 0 1.5rem;
  }

  .user-nav__box--link::after {
    display: none;
  }

  .user-nav__box--link:hover::after {
    background-color: transparent;
  }
}

@media (max-width: 600px) {
  .header {
    font-size: 1.1rem;
    height: 4rem;
    flex-direction: column;
    padding: 1rem 0;
    margin-bottom: 2.5em;
  }

  .container-ploty {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  .heeding {
    font-size: 1.6rem;
  }

  .user-nav {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .user-nav__box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .user-nav__box--item {
    margin-right: 5px;
  }

  .user-nav > * {
    padding: 0 1rem;
  }

  .inquiry-bold {
    font-weight: 600;
  }

  .user-nav__box--link::after {
    display: none;
  }

  .user-nav__box--link:hover::after {
    background-color: transparent;
  }
}

@media (max-width: 450px) {
  .header {
    margin-bottom: 2.25rem;
  }

  .user-nav {
    font-size: 1.425rem;
  }
}

@media (max-width: 400px) {
  .user-nav {
    font-size: 1.3rem;
  }
}

@media (max-width: 360px) {
  .user-nav {
    font-size: 1.25rem;
  }
}

@media (max-width: 330px) {
  .user-nav {
    font-size: 1.15rem;
  }
}
