@import "variables";

.hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 10px;
  font-family: var(--font-josefin-sans);
  margin-bottom: 40px;
}

.u-center-text {
  background-color: $color-grey-light-3;
  padding: 5rem;
  text-align: center;
  box-sizing: border-box;
}

.u-margin-bottom-8 {
  margin-bottom: 5rem;
}

.heading--secondary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;

  background-image: linear-gradient(
    to right,
    $color-primary-green,
    $color-green-dark
  );
  background-clip: text;
  color: transparent;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  max-width: $grid-width;

  margin: 0 auto;
  margin-top: -1.2rem;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}

.col-1-of-2 {
  width: calc((100% - #{$gutter-horizontal}) / 2);
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;

  color: black;
}

.paragraph {
  font-size: 1.8rem;
  font-weight: 400;

  color: black;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.grygov {
  text-decoration: none;
}

.btn--text {
  margin-top: -20px;
  color: #fff;
  text-decoration: none;
  font-family: var(--font-lato);
  font-size: 1.4rem;
  display: inline-block;
  border-radius: 3px;
  padding: 1rem 1.6rem;
  background-color: $color-primary-green;
  font-weight: 600;
  transition: all 0.2s;

  &:hover {
    background-color: $color-green-dark;
    box-shadow: $box-shadow-basic;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: $box-shadow-basic;
    transform: translateY(0);
  }
}

.btn--gallery {
  margin-bottom: 18px;
}

.composition {
  &__photo {
    width: 116%;
    height: auto;
    margin-left: -115px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    margin-top: 1.5rem;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $color-secondary;
  padding: 4rem 1rem;
}

.contacts__item {
  cursor: pointer;
  color: #fff;
  font-size: 3rem;
  margin-right: 5rem;
  position: relative;

  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -3px;
      left: 0;
      background-color: #fff;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.contacts__button {
  font-family: sans-serif;
  text-decoration: none;
  font-weight: 400;
  border: 2px solid #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  transition: all 0.2s;

  &:hover {
    background-color: #fff;
    color: $color-secondary;
  }
}

@media screen and (max-width: 1250px) {
  .u-margin-bottom-8 {
    margin-bottom: 2.5rem;
  }

  .heading-tertiary {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .paragraph {
    font-size: 1.7rem;
    padding-bottom: 1.2rem;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (max-width: 1147px) {
  .u-margin-bottom-8 {
    margin-bottom: 2rem;
  }

  .heading-tertiary {
    margin-bottom: 1rem;
  }

  .composition {
    &__photo {
      width: 119%;
    }
  }

  .paragraph {
    font-size: 1.7rem;

    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }
  }
}

@media screen and (max-width: 1100px) {
  .heading-tertiary {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .paragraph {
    font-size: 1.8rem;
    padding-bottom: 1rem;

    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }
  }

  .composition {
    &__photo {
      width: 125%;
    }
  }

  .btn--text {
    &:link,
    &:visited {
      font-size: 1.4rem;
    }
  }

  .contacts__item {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1070px) {
  .heading-tertiary {
    font-size: 1.9rem;
  }

  .paragraph {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 1025px) {
  .heading-tertiary {
    font-size: 1.75rem;
    margin-bottom: 0.6rem !important;
  }

  .u-center-text {
    padding: 3rem;
  }

  .paragraph {
    font-size: 1.575rem;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .composition {
    &__photo {
      width: 115%;
      margin-left: -40px;
    }
  }

  .hero-para {
    margin-left: 2rem;
  }

  .btn--text {
    font-size: 1.25rem !important;
    padding: 0.8rem 1rem;
  }
}

@media screen and (max-width: 999px) {
  .paragraph {
    font-size: 1.475rem;
  }
}

@media screen and (max-width: 970px) {
  .hero {
    padding: 10px;
  }

  .heading--secondary {
    margin-top: 2.5rem;
  }

  .col-1-of-2 {
    width: 100%; /* Full width image */
    text-align: center;
  }

  .composition__photo {
    width: 85%;
    height: 45vh;
    margin-left: 0;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  .col-1-of-2:last-child {
    text-align: left;
  }

  .jake {
    margin-top: 1.2rem !important;
  }

  .hero-para {
    width: 80%;
    margin-left: 10%;
  }

  .paragraph {
    font-size: 1.7rem;
    text-align: start;
  }

  .heading-tertiary {
    margin-top: 2rem !important;
    font-size: 2rem;
    text-align: left;
  }

  .stavime {
    margin-top: 1.3rem;
  }

  .btn--text {
    margin-top: 0px;
    font-size: 1.7rem !important;
  }

  .contacts {
    margin-top: 2rem;
    padding: 2.5rem 1rem;
  }

  .contacts__item {
    font-size: 2rem;
    margin-right: 2rem;

    &:hover::after {
      width: 0 !important;
    }
  }

  .contacts__button {
    margin-left: 10px;
    font-size: 1.6rem;
    padding: 0.6rem 1.2rem;

    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
}

@media screen and (max-width: 700px) {
  .contacts__item {
    font-size: 1.6rem;
    margin-right: 1rem;
  }

  .contacts__button {
    font-size: 1.3rem;
    padding: 0.4rem 1rem;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    padding: 20px;
    margin-top: -1.5rem;
  }

  .heading--secondary {
    font-size: 3rem;
  }

  .col-1-of-2 {
    width: 100%;
  }

  .composition__photo {
    width: 100%;
    margin-left: 0;
  }

  .hero-para {
    width: 100%;
    margin-left: 0;
  }

  .paragraph {
    font-size: 1.75rem !important;
    text-align: left;
  }

  .heading-tertiary {
    font-size: 1.8rem;
    text-align: left;
  }

  .btn--text {
    font-size: 1.5rem !important;
  }

  .contacts {
    margin-top: -1.2rem;
  }

  .contacts__item {
    font-size: 1.6rem;
  }

  .contacts__button {
    font-size: 1.2rem;
    padding: 0.4rem 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    padding: 15px;
    margin-top: -1.3rem;
  }

  .heading--secondary {
    font-size: 2.8rem;
    margin-top: 0px;
  }

  .col-1-of-2 {
    width: 100%;
  }

  .composition__photo {
    width: 100%;
    margin-left: 0;
  }

  .paragraph {
    font-size: 1.4rem;
  }

  .heading-tertiary {
    font-size: 1.8rem;
  }

  .contacts {
    flex-direction: column;
    text-align: center;
    padding: 1.5rem 0.7rem;
  }

  .contacts__item {
    font-size: 1.55rem;
    margin-right: 0;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .heading--secondary {
    font-size: 2.5rem;
    margin-top: 5px;
  }

  .heading-tertiary {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 400px) {
  .composition__photo {
    height: 38vh;
  }

  .paragraph {
    font-size: 1.4rem !important;
  }

  .stavime {
    margin-top: 1rem !important;
  }

  .btn--text {
    padding: 0.55rem 0.7rem;
  }

  .kontkt {
    margin-bottom: -0.5rem;
  }
}

@media screen and (max-width: 370px) {
  .composition__photo {
    height: 33vh;
  }

  .heading--secondary {
    font-size: 2.2rem;
    margin-top: 2px;
  }
}
