@import "variables";

.instructions {
  font-family: var(--font-nunito);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 5rem;

  @media (max-width: 500px) {
    margin-bottom: 3.5rem;
  }
}

.instructions__title {
  font-size: 6rem;
  font-weight: 700;
  color: $color-secondary;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;

  @media (max-width: 1200px) {
    font-size: 5rem;
  }

  @media (max-width: 900px) {
    font-size: 4rem;
  }

  @media (max-width: 500px) {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.instructions__text {
  font-size: 1.85rem;
  padding: 0 25%;

  column-count: 2;
  column-gap: 16.5rem;
  column-rule: 1px solid #d1e0e0;
  line-height: 1.65;

  @media (max-width: 1900px) {
    padding: 0 20%;
  }

  @media (max-width: 1700px) {
    padding: 0 17%;
    column-gap: 9rem;
  }

  @media (max-width: 1200px) {
    padding: 0 15%;
    column-gap: 8rem;
  }

  @media (max-width: 1100px) {
    padding: 0 11%;
  }

  @media (max-width: 1000px) {
    padding: 0 8%;
  }

  @media (max-width: 900px) {
    padding: 0 10%;
    column-count: 1;
    text-align: justify;
  }

  @media (max-width: 600px) {
    padding: 0 5%;
    font-size: 1.65rem;
    line-height: 1.5;
    column-rule: none;
  }
}

.instructions__icon {
  margin-top: 40px;
  fill: $color-secondary;
  width: 12rem;
  height: 12rem;

  @media (max-width: 900px) {
    width: 10rem;
    height: 10rem;
  }

  @media (max-width: 600px) {
    width: 8rem;
    height: 8rem;
    margin-top: 20px;
  }
}
